[package]
name = "hubuum"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
actix-rt = "2"
actix-service = "2"
actix-web = { version = "4" }
actix-http = { version = "3" }
argon2 = { version = "0.5", features = ["std"] }
bytes = "1"
chrono = { version = "0.4", features = ["serde"] }
clap = { version = "4", features = ["env", "derive"] }
diesel = { version = "2", features = [
    "postgres",
    "serde_json",
    "r2d2",
    "chrono",
] }
futures = "0.3"
futures-util = "0.3"
jsonschema = "0"
once_cell = "1"
r2d2 = "0.8"
rand = "0.9"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
sha2 = "0"
tokio = { version = "1", features = ["sync", "macros", "rt-multi-thread"] }
tracing = "0.1"
tracing-serde = "0"
tracing-subscriber = { version = "0.3", features = [
    "env-filter",
    "chrono",
    "json",
] }
utoipa = { version = "5", features = ["actix_extras", "chrono"] }
utoipa-swagger-ui = { version = "9", features = ["actix-web", "vendored"], optional = true }
urlparse = "0.7"
uuid = { version = "1", features = ["v4"] }
percent-encoding = "2"
rustls = { version = "0.23", features = ["aws-lc-rs", "ring"], optional = true }
openssl = { version = "0", optional = true }

[dev-dependencies]
yare = "3"
regex = "1"

[features]
default = ["swagger-ui"]
swagger-ui = ["dep:utoipa-swagger-ui"]
tls-rustls = ["dep:rustls", "actix-web/rustls-0_23"]
tls-openssl = ["dep:openssl", "actix-web/openssl"]

[profile.release]
codegen-units = 1
lto = "fat"
opt-level = "z"

[lib]
name = "hubuum"
path = "src/lib.rs"
test = false


[[bin]]
name = "hubuum-server"
path = "src/main.rs"

[[bin]]
name = "hubuum-admin"
path = "src/bin/admin.rs"
test = false

[[bin]]
name = "hubuum-openapi"
path = "src/bin/openapi.rs"
test = false
