Django>3
django_rest_knox==4.2.0
djangorestframework==3.14.0
django_filter==23.1
django-structlog==5.1.0
knox==0.1.14

rich==13.3.4 # Used for console logging.

sentry-sdk[django]==1.19.1
structlog_sentry==2.0.2

psycopg2==2.9.6
pyyaml==6.0
uritemplate==4.1.1
