Django>3
django_rest_knox
django_filter
djangorestframework
django-structlog
knox

rich

sentry-sdk[django]
structlog_sentry

python-dateutil

mkdocs
mkdocs-material
mkdocs-swagger-ui-tag
mkdocs-git-revision-date-localized-plugin

psycopg2-binary
pyyaml
uritemplate

tox
pytest
pytest-django
coveralls
isort
pylint
pylint-django
